<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free restaurant-api catalogue for you" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="favicon.png" />
    <script src="https://kit.fontawesome.com/6213932414.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Restaurant Nusantara</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1 tabindex="0">Nusantara Restaurants</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/restaurant">Home</a></li>
          <li><a href="#/favorite">Favorites</a></li>
          <li><a href="https://www.linkedin.com/in/muhamad-iksan-6a9a88232/">About us</a></li>
        </ul>
      </nav>
    </header>

    <div class="hero" alt="Gambar Hero Makanan" style="display: inline-block">
      <div class="hero__inner">
        <h1 class="hero__title">Let's come to the Nusantara restaurants</h1>
        <p class="hero__tagline">It’s easy to impress me. I don’t need a fancy party to be happy. Just good friends, good food, and good laughs. I’m happy. I’m satisfied. I’m content</p>
      </div>
    </div>

    <main tabindex="0" id="mainContent"></main>
    <footer>
      <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">TheRestaurantDB</a></p>
    </footer>
  </body>
</html>
